div.row div{
	width: 60px;
	height: 60px;
	display: inline-block;
}
div#world{
}
div.brick{
	background-color: darkred;
}

div.empty{
}

div.coin{
	background: url('crystal.gif');
	background-repeat: none;
	background-position: center;
	background-size: contain;
}
div#mainChar{
	background: url('mainChar.gif');
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	top: 60px;
	left: 60px;
}

body{
	background-color: black;
	line-height: 0px;
	margin: 0px;
}